<!DOCTYPE html>
<html lang="en">
<head>
  <!--开发环境下静态资源的处理-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAe1BMVEUAifUOkvcKkPconfcAg/UAffUBi/YGjvcAhvb////0+v+n3P0rnvea1vxzwPtrv/pFqvgPkPcVkffq9v+r3f2Pz/x5xfslnPcfmvcZlPfu9/7s9v7j9P7b7v3D4vy/4Pyx3/yh1/yf1/yEyvtXs/lWs/lPsPk2pPcAd/QhMIu5AAAA3ElEQVQ4y9XSSZLDIAxAUawGSQwG3J4zz8n9T9jQlWVSeJn8BQjqrSiEMc4BVC8CGMfVqgycYxZvYp6mMgAQAvEdIfoOUFV5aJrf1DznNe/5hogZIIF80P9tNnXK2tOp723qfkdcBFJKGbPbKeWctU3jfQhKhTAMQiwBzFJqvd8/HlL2/TAwdx2AUufz9YpYBgDMWudfEePl0nXzDHA4xHi7WYtIVAaI3rftdrteG3M8hiAlc4x17X1+Y4AyqCop1TOZEqm852khKPQR4KdQGRgzjkTwIqJpatsi+AM17BmBgBhcBwAAAABJRU5ErkJggg==" media="screen" />

  <link rel="apple-touch-icon" sizes="180x180" href="public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/favicon-16x16.png">
  <link rel="manifest" href="public/manifest.json">
  <link rel="mask-icon" href="public/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <title>Dva Demo</title>
</head>
<body>

<div id="root" style="overflow-y:auto"></div>

</body>
</html>
